doctype html
html(lang="en")
  head
    include partials/template/head

  body
    .container-404
      div
        h1 OOPS!
        p 404 - THE PAGE CAN'T BE FOUND
        .source-code
              a(href="/") GO TO HOMEPAGE
