doctype html
html(lang="en")
  head
    include partials/template/head

  body(style="background-color: ghostwhite")
    .container-404
      div
        h1 OOPS!
        p 404 - THE PAGE CAN'T BE FOUND
        .home-link
              a(href="/user/signup") GO TO HOMEPAGE
