doctype html
html(lang="en")
  head
    include partials/template/head

  body
    //- navbar
    include partials/template/navbar

    //- main content
    block content
      .container
        .content
          .content-left
            h2 Who Am I?
            p Taskman is an application which aids in planning tasks of the day.
            p It allows tasks to be scheduled into the future.
            .source-code
              a(href="https://github.com/iambenbright/taskman" target="_blank") github
          .content-right  
             block detail
              h2 Sneak Peek!

