doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/css/main.css")
    title Taskman

  body
    //- navbar
    include partials/template/navbar.pug

    //- main content
    block content
      .container
        .content
          .content-left
            h2 Who Am I?
            p 
            | Taskman is an application which aids in planning tasks of the day.
            p
            | It allows tasks to be scheduled into the future.
          .content-right  
             block detail
              h2 Here are the details!

