doctype html
html(lang="en")
  head
    include partials/template/head

  body
    //- navbar
    include partials/template/navbar

    //- main content
    .container
      h1 Welcome to tasks page!

