:root {
  box-sizing: border-box;
  font-family: sans-serif;
  --primary-color: #0d61bb;
  --primary-accent: #0c4f97;
  --primary-color-light: #0d61bb0c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* globals */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 2px;
}

button:hover {
  background-color: var(--primary-accent);
  color: #fff;
}

select {
  background-color: #fff;
  padding: 2px 4px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.gap-fix {
  height: 80px;
}

/* end of globals */

header {
  height: 80px;
  width: 100vw;
  background-color: var(--primary-color);
  box-shadow: 0 2px 6px grey;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

header .container {
  height: 100%;
  padding: 0;
}

.navbar p a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a:last-of-type {
  letter-spacing: 1.5px;
}

.navbar nav a:hover,
.side .create:hover {
  background-color: var(--primary-accent);
  transition: all 0.5s;
}

/* form  */
.form {
  width: 400px;
}

.form-header {
  margin-bottom: 3px;
}

.form-style {
  margin-bottom: 30px;
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 8px;
}

.form-group input {
  height: 35px;
  padding-left: 15px;
}

/* end of form */

/* content */
#home .wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

#home .wrapper p {
  margin: 0;
  font-size: 24px;
}

#home .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#home .content-right {
  justify-self: center;
}

.source-code {
  margin-top: 70px;
}

.source-code a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.source-code a {
  text-decoration: none;
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  border-radius: 2px;
  padding: 10px 15px;
}

/* end of content */

/* flash messages */
.error-messages {
  width: 400px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.error-message,
.success-message {
  padding: 0 20px;
  border-radius: 2px;
  color: #9a4b61;
  background-color: rgba(154, 75, 97, 0.158);
  transition: all 0.25s;
}

.success-message {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #0d61bb0e;
  color: #0d61bb;
  margin-bottom: 15px;
}

.error-message:not(:last-of-type) {
  margin-bottom: 5px;
}

/* 404 */
.container-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-404 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-404 h1 {
  font-size: 160px;
  margin: 0;
  color: var(--primary-color);
}

.container-404 p {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  top: -70px;
}

.container-404 .source-code {
  margin: 0;
  position: relative;
  top: -50px;
}

/* tasks page */
.wrapper .container {
  height: calc(100vh - 80px);
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side list";
}

.wrapper .side {
  grid-area: side;
  background-color: rgb(219, 219, 219);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side .create {
  width: 150px;
  padding: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.side .create a {
  text-decoration: none;
  color: #fff;
}

.side .organise {
  align-self: flex-start;
  width: 74%;
  position: relative;
  left: 84px;
}

.side .organise ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.side .organise li {
  padding: 10px 0 10px 20px;
}

.side .organise li:hover,
.side .organise li.active {
  background-color: #fff;
  transition: all 0.25s;
}

/* task */
.wrapper .content {
  grid-area: list;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px 30px 20px;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.wrapper .no-task-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-task-container .info p {
  margin-top: 0;
}

.no-task-container .info h3 {
  padding-left: 0;
  margin-bottom: 4px;
}

.no-task-container .icon {
  font-size: 128px;
  color: grey;
}

.wrapper h3 {
  font-size: 1.55rem;
  padding-left: 20px;
}

.content .task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.671);
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(219, 219, 219);
  transition: all 0.5s;
}

.content .task:hover {
  box-shadow: 0 3px 5px rgb(199, 198, 198);
  transform: scale(1.025);
}

.task .top p {
  margin: 0;
}

.task .bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.task .bottom .priority {
  background-color: rgba(122, 122, 122, 0.616);
  padding: 2px 5px;
  border-radius: 1px;
  color: #fff;
  font-size: 12px;
}

.task .actions {
  display: flex;
  color: rgba(122, 122, 122, 0.459);
  font-size: 18px;
  opacity: 0.5;
}

.task .actions div:not(:last-of-type) {
  margin-right: 10px;
}

/* to work on */
.task .actions .delete a {
  color: rgba(122, 122, 122, 0.459);
}
/* to work on */
.task .actions .delete a:hover {
  color: #000;
}

.task .actions .complete:hover,
.task .actions .edit:hover,
.task .actions .delete:hover {
  color: #000;
}
/* end of task */

/* add form */
.create-form {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.342);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form .form {
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.form .close-form {
  color: rgba(122, 122, 122, 0.459);
}

.form .close-form:hover {
  color: #000;
}

.create-form .form-title,
.create-form .form-band,
.create-form .form-priority,
.create-form .task-done {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.create-form .form-title {
  padding-top: 18px;
  padding-bottom: 30px;
}

.form-title div:first-of-type {
  cursor: pointer;
}

.create-form .form-band,
.create-form .form-priority,
.create-form .task-done {
  padding-bottom: 20px;
}

.create-form .form-priority select {
  width: 100px;
}

.create-form .form-text {
  padding: 10px 20px 20px;
}

.create-form .form-text textarea {
  width: 100%;
  max-width: 100%;
  height: 50px;
  outline: none;
  resize: none;
  padding: 10px;
}

.create-form .form-priority input {
  margin-left: 63px;
}

.create-form .form button {
  margin-top: 23px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
/* end of add form */
