:root {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: #0d61bb;
  --primary-accent: #0c4f97;
  --primary-color-light: #0d61bb0c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* globals */

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 2px;
}

button:hover {
  background-color: var(--primary-accent);
  color: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

/* end of globals */

header {
  height: 60px;
  background-color: var(--primary-color);
  cursor: pointer;
}

header .container {
  height: 100%;
  padding: 0;
}

.navbar p a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a:hover {
  background-color: var(--primary-accent);
  transition: all 0.5s;
}

/* form  */

.form {
  width: 400px;
}

.form-header {
  margin-bottom: 3px;
}

.form-style {
  margin-bottom: 30px;
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 8px;
}

.form-group input {
  height: 35px;
  padding-left: 15px;
}

/* end of form */

/* content */
.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.source-code {
  margin-top: 30px;
}

.source-code a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.source-code a {
  text-decoration: none;
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  border-radius: 2px;
  padding: 7px 10px;
}

.content-right {
  justify-self: center;
}
/* end of content */

/* reg complete */
.reg-complete {
  width: 400px;
  background-color: var(--primary-color-light);
  border-radius: 4px;
  transition: all 0.25s;
  padding: 30px;
  box-shadow: 0 1px 0 var(--primary-color);
}

.reg-complete a {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 2px;
}

.reg-complete a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.reg-complete p {
  margin-bottom: 35px;
}

/* error message */
.error-messages {
  width: 400px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.error-message {
  padding: 0 20px;
  border-radius: 2px;
  color: #9a4b61;
  background-color: rgba(154, 75, 97, 0.158);
  transition: all 0.25s;
}

.error-message:not(:last-of-type) {
  margin-bottom: 5px;
}
