header
  .container
    .navbar
      p 
        a(href="/") <strong>Task</strong>man
      nav
        if user
          a(href="/user/logout") Sign out
          a 
            strong #{user.name}
        else if !user
          a(href="/user/signup") Sign up
          a(href="/user/login") Log in