extends ../../index

block authentication
  form(class="auth-form" method="POST" autocomplete="off")
    h2.form-header #{title}
    .form-style

    //- flash messages
    if errors
      .error-messages
        each error in errors
          .error-message
            p #{error.message}

    .form-group
      label(for="email") Email
      input(type="email" name="email" autofocus)
    .form-group
      label(for="email") Password
      input(type="password" name="password")
    button(type="submit") SEND