extends ../../index

block authentication
  form(class="auth-form" method="POST" autocomplete="off")
    h2.form-header #{title}
    .form-style

    //- error messages
    if errors
      .error-messages
        each error in errors
          .error-message
            p #{error.message}

    //- success message
    if success
      .success-message
        p Registration completed!, you may log in with your credentials

    .form-group
      label(for="name") Name
      input(type="text" name="name" autofocus)
    .form-group
      label(for="email") Email
      input(type="email" name="email" )
    .form-group
      label(for="email") Password
      input(type="password" name="password")
    button(type="submit") SEND